<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);">
  <div class="container">
    <div class="text-center">
    <h1>Cocktails on the Couch</h1>
    <p>Plonk yourself on the couch and enjoy a homemade cocktail </p>    
    </div>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="card-grid">
  <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <div class="card-photo-box">
        <% if cocktail.photo.attached? %>      
          <%= cl_image_tag cocktail.photo.key%>      
        <% else %>
          <%= cl_image_tag ("https://images.unsplash.com/photo-1587223962930-cb7f31384c19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") %>
        <% end %>
      </div> 

      <div class="card-product-infos">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Add a new cocktail", new_cocktail_path %>