.navbar-lewagon {
  justify-content: space-between;
  background: #e6e6ff;
  width: 100%;
  // position: fixed;
  // margin-bottom: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

i {
  font-size: 40px;
}