
table {
  width: 50%;
  margin-top: 20px;
  margin: 20px auto 20px auto;
}

table tr th, td {
  padding: 20px;
}

table tr th {
  border-bottom: 1px solid darkgrey;
}

table i {
  color: red;
  font-size: 15px;
}